.section-center {
    background-color: white;
    width: 600px;
    margin: auto;
    margin-top: 6em;
}

h2 {
    margin-bottom: 2em;
    color: black;
}

.grocery {
    background-color:  rgba(209, 209, 209, 0.423);
    color: black;
}

.grocery-form {
    align-items: center;
}

.grocery-container {
    height: 400px;
    background-color: rgba(68, 162, 255, 0.646);
    margin-bottom: 2em;
    padding: 4em 4em;
}

input {
    color: black;
}

.submit-btn {
    padding: 5px 10px;
    border: none;
    background-color: rgba(68, 162, 255, 0.646);
}

.clear-btn {
    border: none;
    background-color: transparent;
    color: red;
    margin-bottom: 2em;
    font-size: 20px;
}